<div class="container-fluid">
  <div class="menu">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Bánh gai Nhân Hưng
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/item-details']">Bánh Gai</a></li>
                <li><a class="dropdown-item" [routerLink]="['/item-details']">Bánh Gấc</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Sản phẩm khác</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cart']">Quản lý kho</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <div>
              <!-- <a class="text-reset me-3 nav-link" style="text-wrap: nowrap;">
                <i class="fas fa-shopping-cart"  [routerLink]="['/cart']"></i>
                Giỏ hàng
              </a> -->
              <a class="text-reset me-3 nav-link" style="text-wrap: nowrap;" [routerLink]="['/cart']">
                <i class="fas fa-shopping-cart" [routerLink]="['/cart']"></i>
                Giỏ hàng
              </a>
            </div>
            <div class="text-reset me-3" style="text-wrap: nowrap;" href="#">Đăng nhập</div>
            <div class="input-group">
              <div class="form-outline" data-mdb-input-init>
                <input type="search" id="form1" class="form-control me-2" />
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                <i class="fas fa-search"></i>
              </button>
            </div>

            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>


