<app-top-bar></app-top-bar>
<div class="container">
    <div *ngIf="this.router.url === '/other-products'">
        <h3 class="card-title">Sản phẩm khác</h3>
        <div class="container text-center">
            <div class="row row-cols-3">
                <div class="card " style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div *ngIf="this.router.url === '/warehouse'">
        <h3 class="card-title">Quản lý kho</h3>
        <div class="container text-center">
            <div class="row row-cols-3">
                <div class="card " style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;border: 1px solid rgba(0, 174, 255, 0.5)">
                    <img style="cursor: pointer;" [routerLink]="['/item-details']" src="../../assets/Black_cat.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                        <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded" [routerLink]="['/cart']">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>