<div class="container">
    <div id="myCarousel" class="carousel slide border" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/Panther.jpeg" alt="Leopard">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/Black_cat.jpeg" alt="Cat">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/Lion.jpeg" alt="Lion">
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<section class="section" id="section_59610219">
    <div class="bg section-bg fill bg-fill  bg-loaded">
    </div>
    <div class="section-content relative">

        <div class="message-box relative dark" style="padding-top:15px;padding-bottom:15px;">
            <div class="message-box-bg-image bg-fill fill"></div>
            <div class="message-box-bg-overlay bg-fill fill" style="background-color:rgb(255, 255, 255);"></div>
            <div class="container relative">
                <div class="inner last-reset">
                    <div class="row align-middle align-center" id="row-1108337757">

                        <div id="col-73117124" class="col small-12 large-12">
                            <div class="col-inner">


                                <h3 style="text-align: center;"><span style="color: #000000;"><em>THƯ CHÀO
                                            MỪNG!</em></span></h3>
                                <p style="text-align: justify;"><span style="color: #000000;"><em> Nhân Hưng là đơn vị
                                            cung cấp các sản phẩm, dịch vụ từ Tâm. Với một niềm tấm lòng trân trọng
                                            những giá trị cốt lõi của những tinh hoa cổ truyền ở các miền quê Việt Nam
                                            để giới thiệu đến tất cả mọi người dân ở trong cả nước và các du khách nước
                                            ngoài biết đến, cùng thưởng thức cảm nhận để cùng chia sẻ đến nhiều hơn nữa
                                            đến bạn bè trên thế giới nhằm tôn vinh tinh hoa ẩm thực Việt Nam cũng như
                                            tấm lòng người nông dân Việt. </em></span></p>
                                <p style="text-align: justify;"><span style="color: #000000;"><em> Nhân Hưng cam kết
                                            phân phối những sản phẩm chất lượng nhất với giá cả hợp lý. Tất cả các sản
                                            phẩm, dịch vụ do Nhân Hưng phân phối trên thị trường chứa đựng tâm huyết
                                            cũng như tình cảm chân thành của những nghệ nhân – những người dân luôn gắn
                                            bó cả đời để làm ra những đặc sản này.</em></span></p>
                                <p style="text-align: justify;"><span style="color: #000000;"><em> Các sản phẩm giao đến
                                            tay người tiêu dùng nếu có sai lệch về mã sản phẩm hoặc chất lượng sẽ được
                                            đổi mới 100%. Nếu có bất kỳ thắc mắc về dịch vụ cũng như chất lượng sản phẩm
                                            của Thanh Tâm cung cấp, vui lòng liên hệ trực tiếp tới ĐƯỜNG DÂY NÓNG:
                                            XXXXXXXXXX. Chân thành cảm ơn sự hợp tác của quý khách hàng. </em></span>
                                </p>
                                <h6 class="uppercase" style="text-align: justify;"><span
                                        style="color: #000000;"><strong>NHÂN HƯNG LUÔN NỖ LỰC HẾT MÌNH ĐỂ ĐEM LẠI SỰ HÀI
                                            LÒNG CHO QUÝ KHÁCH HÀNG.</strong></span></h6>
                                <p style="text-align: right;"><span style="color: #000000;"><em>Đặc Sản Bánh Gai Nhân
                                            Hưng – Vì
                                            Một Việt Nam Hùng Cường!!!</em></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #section_59610219 {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    </style>
</section>
<section class="section container-fluid" id="section_397304720">
    <div class="bg section-bg fill bg-fill  bg-loaded">
    </div>
    <div class="section-content relative container">
        <div class="row row-dashed wp-image-2740 alignleft" id="row-1569740819">
            <div id="col-1797679787" class="col medium-6 small-12 large-6" data-animate="bounceInRight">
                <div class="col-inner">
                </div>
            </div>
        </div>
    </div>
    <style>
        #section_397304720 {
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: rgb(246, 246, 246);
        }
    </style>
</section>
<app-outstanding-products></app-outstanding-products>