<app-top-bar></app-top-bar>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Rounded Chair</h3>
      <h6 class="card-subtitle">globe type chair for rest</h6>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="../../assets/Black_cat.jpeg" /></div>
            <div class="tab-pane" id="pic-2"><img src="../../assets/Lion.jpeg" /></div>
            <div class="tab-pane" id="pic-3"><img src="../../assets/Panther.jpeg" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../../assets/Black_cat.jpeg" /></a>
            </li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="../../assets/Lion.jpeg" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="../../assets/Panther.jpeg" /></a></li>
          </ul>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
          <h4 class="box-title mt-5">Product description</h4>
          <p>Lorem Ipsum available,but the majority have suffered alteration in some form,by injected humour,or
            randomised words which don't look even slightly believable.but the majority have suffered alteration in some
            form,by injected humour</p>

          <div class="col-md-4 col-sm-6 mb-3 col-xl-4 row-lg d-flex">
            <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
              <i class="fas fa-minus"></i>
            </button>

            <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control form-control-sm " style="text-align: center;" />

            <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          
          <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
            data-original-title="Add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
          <button class="btn btn-primary btn-rounded">Buy Now</button>
          <h3 class="box-title mt-5">Key Highlights</h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check text-success"></i>Sturdy structure</li>
            <li><i class="fa fa-check text-success"></i>Designed to foster easy portability</li>
            <li><i class="fa fa-check text-success"></i>Perfect furniture to flaunt your wonderful collectibles</li>
          </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 class="box-title mt-5">General Info</h3>
          <div class="table-responsive">
            <table class="table table-striped table-product">
              <tbody>
                <tr>
                  <td width="390">Brand</td>
                  <td>Stellar</td>
                </tr>
                <tr>
                  <td>Delivery Condition</td>
                  <td>Knock Down</td>
                </tr>
                <tr>
                  <td>Seat Lock Included</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>Office Chair</td>
                </tr>
                <tr>
                  <td>Style</td>
                  <td>Contemporary&amp;Modern</td>
                </tr>
                <tr>
                  <td>Wheels Included</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Upholstery Included</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Upholstery Type</td>
                  <td>Cushion</td>
                </tr>
                <tr>
                  <td>Head Support</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>Suitable For</td>
                  <td>Study&amp;Home Office</td>
                </tr>
                <tr>
                  <td>Adjustable Height</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Model Number</td>
                  <td>F01020701-00HT744A06</td>
                </tr>
                <tr>
                  <td>Armrest Included</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Care Instructions</td>
                  <td>Handle With Care,Keep In Dry Place,Do Not Apply Any Chemical For Cleaning.</td>
                </tr>
                <tr>
                  <td>Finish Type</td>
                  <td>Matte</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
   <div class="row py-3 shadow-5">
     <div class="col-12 mb-1">
       <div class="lightbox">
         <img
           src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
           alt="Gallery image 1"
           class="ecommerce-gallery-main-img active w-100"
         />
       </div>
     </div>
     <div class="col-3 mt-1">
       <img
         src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
         data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
         alt="Gallery image 1"
         class="active w-100"
       />
     </div>
     <div class="col-3 mt-1">
       <img
         src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
         data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
         alt="Gallery image 2"
         class="w-100"
       />
     </div>
     <div class="col-3 mt-1">
       <img
         src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
         data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
         alt="Gallery image 3"
         class="w-100"
       />
     </div>
     <div class="col-3 mt-1">
       <img
         src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
         data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
         alt="Gallery image 4"
         class="w-100"
       />
     </div>
   </div>
 </div> -->

<!-- <div class="container">
   <div class="card">
      <div class="container-fliud">
         <div class="wrapper row">
            <div class="preview col-md-6">
               
               <div class="preview-pic tab-content">
                 <div class="tab-pane active" id="pic-1"><img src="../../assets/Black_cat.jpeg" /></div>
                 <div class="tab-pane" id="pic-2"><img src="../../assets/Lion.jpeg" /></div>
                 <div class="tab-pane" id="pic-3"><img src="../../assets/Panther.jpeg" /></div>
               </div>
               <ul class="preview-thumbnail nav nav-tabs">
                 <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../../assets/Black_cat.jpeg" /></a></li>
                 <li><a data-target="#pic-2" data-toggle="tab"><img src="../../assets/Lion.jpeg" /></a></li>
                 <li><a data-target="#pic-3" data-toggle="tab"><img src="../../assets/Panther.jpeg" /></a></li>
               </ul>
               
            </div>
            <div class="details col-md-6">
               <h3 class="product-title">men's shoes fashion</h3>
               <div class="rating">
                  <div class="stars">
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star"></span>
                     <span class="fa fa-star"></span>
                  </div>
                  <span class="review-no">41 reviews</span>
               </div>
               <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
               <h4 class="price">current price: <span>$180</span></h4>
               <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
               <h5 class="sizes">sizes:
                  <span class="size" data-toggle="tooltip" title="small">s</span>
                  <span class="size" data-toggle="tooltip" title="medium">m</span>
                  <span class="size" data-toggle="tooltip" title="large">l</span>
                  <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
               </h5>
               <h5 class="colors">colors:
                  <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                  <span class="color green"></span>
                  <span class="color blue"></span>
               </h5>
               <div class="action">
                  <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                  <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->